<div class="container">
    <div class="row">
    <%= link_to 'Index', tickets_path %>
      <ul class="nav nav-tabs">
       <li role="presentation">
        <%= link_to 'Ticket', admin_tickets_path %>
      </li>

       <li role="presentation">
        <%= link_to 'Coupon', admin_coupons_path %>
      </li>
      <li role="presentation" class="active">
       <%= link_to 'Board', admin_comboards_path %>
     </li>
      <li role="presentation" >
       <%= link_to 'Train Ticket', admin_railtickets_path %>
     </li>
       <li role="presentation" >
        <%= link_to 'User List', admin_users_path %>
      </li>

      </ul>
    </div>
  </div>

  <br>


<h1>機票徵求留言後台</h1>




<div class="container">
  <div class="row">
  <table class="table table-bordered">
        <thead>
          <tr>
            <th>Flight date from</th>
            <th>Flight date to</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>User Name</th>
            <th>Expecting Price</th>
            <th>Additional Remarkes</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          <% @comboards.each do |comboard| %>
          <tr>
            <th scope="row"><%= comboard.flight_date_from %></th>
            <td><%= comboard.flight_date_to %></td>
            <td><%= comboard.departure  %></td>
            <td><%= comboard.destination %></td>
            <td><%= comboard.name %></td>
            <td><%= comboard.price%></td>
            <td><%= comboard.content %></td>
            <td><%= link_to 'Show', admin_comboard_path(comboard) %></td>
            <td><%= link_to 'Edit', edit_admin_comboard_path(comboard) %></td>
            <td> <%= link_to 'Delete', admin_comboard_path(comboard), method: :delete, data: {confirm:"Are you sure?"} %></td>

            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

   </div>
 </div>

<div class="text-center">
<%= paginate @comboards %>
</div>
