<div id="main">
  <div class="top2_wrapper">
    <div class="container">
      <div class="top2 clearfix">
      <header>
        <div class="logo_wrapper">
          <a href="index.html" class="logo">
            <%= link_to tickets_path do %>
              <img src="/images/logo4.jpg" alt="" class="img-responsive">
            <% end %>
          </a>
        </div>
      </header>
      <div class="navbar navbar_ navbar-default">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse navbar-collapse_ collapse">
          <ul class="nav navbar-nav sf-menu clearfix">
            <!-- <li class="<%#= active_class(tickets_path) %>"><%= link_to '廉航機票', tickets_path %><em></em></li>
            <li class="<%#= active_class(coupons_path) %>"><%= link_to '機票兌換卷', coupons_path %><em></em></li>
            <li class="<%#= active_class(railtickets_path) %>"><%= link_to '高鐵票', railtickets_path %><em></em></li>
            <li class="<%#= active_class(metros_path) %>"><%= link_to '多日周遊券', metros_path %><em></em></li>
            <li class="<%#= active_class(parktickets_path) %>"><%= link_to '遊園卷', parktickets_path %><em></em></li>
            <li class="<%#= active_class(comboards_path) %>"><%= link_to '需求佈告欄', comboards_path %><em></em></li>
            <li class="<%#= active_class(comboards_path) %>"><%= link_to '懶人包首頁', articles_path %><em></em></li> -->
            <% if current_user %>
              <li class="<%= active_class(user_path(current_user)) %>"><%= link_to '個人資訊', user_path(current_user) %><em></em></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="slider_wrapper">
  <div class="container">
    <div id="slider_inner">
      <div class="">
        <div id="slider">
          <div class="">
            <div class="carousel-box">
              <div class="inner">
                <div class="carousel main">
                  <ul>
                    <li>
                      <div class="slider">
                        <div class="slider_inner" id="ticket">
                          <div class="txt1"><span>歡迎來到</span></div>
                          <div class="txt2"><span>讓.齁.哩 旅遊二手票券交易平台</span></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="slider_pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>New Hold Release 是一個提供旅遊相關二手票券交易的平台，希望促進二手票券利用率，並提供便宜票券和各種旅遊資訊。</h4>
      <h2>二手票券交易</h2>
        <div class="button-group">
          <div class="col-sm-4">
            <img src="/images/airline.jpg" alt="">
            <class="<%= active_class(tickets_path) %>"><%= link_to '廉航機票', tickets_path %>
          </div>
          <div class="col-sm-4">
            <img src="/images/voucher1.png" alt="">
            <class="<%= active_class(coupons_path) %>"><%= link_to '機票兌換券', coupons_path %>
          </div>
          <div class="col-sm-3">
            <img src="/images/hsr.png" alt="">
            <class="<%= active_class(railtickets_path) %>"><%= link_to '高鐵票', railtickets_path %>
          </div>
          <div class="col-sm-4">
            <img src="/images/metro9.png" alt="">
            <class="<%= active_class(metros_path) %>"><%= link_to '多日周遊券', metros_path %>
          </div>
          <div class="col-sm-4">
            <img src="/images/park.png" alt="">
            <class="<%= active_class(parktickets_path) %>"><%= link_to '遊園券', parktickets_path %>
          </div>
          <div class="col-sm-3">
            <img src="/images/board10.jpg" alt="">
            <class="<%= active_class(comboards_path) %>"><%= link_to '需求佈告欄', comboards_path %>
          </div>
       </div>
     </div>
   </div>
 </div>
  <div id="popular_cruises1">
    <div class="container">
      <h2 class="animated">航空資訊懶人包</h2>
      <div class="title1 animated">新手必看攻略、您不可不看的資訊
      </div>
      <br>
      <div id="popular_wrapper" class="animated" data-animation="fadeIn" data-animation-delay="300">
        <div id="popular_inner">
          <div class="">
            <div id="popular">
              <div class="">
                <div class="carousel-box">
                  <div class="inner">
                    <div class="carousel main">
                      <ul class="article">
                        <div class="col-sm-6 col-md-4">
                          <li>
                            <div class="popular ">
                              <div class="popular_inner">
                                <figure>
                                  <a href="/articles/visa">
                                  <img src="/images/taiwanvisa.jpg" alt="" class="img-responsive"></a>
                                    <div class="over">
                                      <div class="information">
                                        <span>免簽國家資訊整理、讓您快速選定出遊國家</span>
                                      </div>
                                    </div>
                                </figure>
                                <div class="caption">
                                  <div class="txt1"><a href="/articles/visa"><span>台灣免簽國家資訊</span></a></div>
                                </div>
                              </div>
                            </div>
                          </li> 
                        </div>
                        <div class="col-sm-6 col-md-4">
                          <li>
                            <div class="popular ">
                              <div class="popular_inner">
                                <figure>
                                  <a href="/articles/direct_flight">
                                  <img src="/images/directflight.jpg" alt="" class="img-responsive"></a>
                                    <div class="over">
                                      <div class="information">
                                        <span>選擇直飛國家最輕鬆、快來一探究竟</span>
                                      </div>
                                    </div>
                                </figure>
                                <div class="caption">
                                  <div class="txt1"><a href="/articles/direct_flight"><span>台灣直飛國家</span></a></div>
                                </div>
                              </div>
                            </div>
                          </li> 
                        </div>
                        <div class="col-sm-6 col-md-4">
                          <li>
                            <div class="popular ">
                              <div class="popular_inner">
                                <figure>
                                  <a href="/articles/lagage">
                                  <img src="/images/lugage.jpg" alt="" class="img-responsive"></a>
                                    <div class="over">
                                      <div class="information">a
                                        <span>還在煩惱行李帶太多被多收錢？快來看行李資訊總整理</span>
                                      </div>
                                    </div>
                                </figure>
                                <div class="caption">
                                  <div class="txt1"><a href="/articles/lagage"><span>廉航行李尺寸＆限重</span></a></div>
                                </div>
                              </div>
                            </div>
                          </li> 
                        </div>
                        <div class="col-sm-6 col-md-4">
                          <li>
                            <div class="popular ">
                              <div class="popular_inner">
                                <figure>
                                  <a href="/articles/carry">
                                  <img src="/images/forbiden.png" alt="" class="img-responsive"></a>
                                    <div class="over">
                                      <div class="information">
                                        <span>哪些東西帶不上飛機？您知道嗎？</span>
                                      </div>
                                    </div>
                                </figure>
                                <div class="caption">
                                  <div class="txt1"><a href="/articles/carry"><span>機上違禁品</span></a></div>
                                </div>
                              </div>
                            </div>
                          </li> 
                        </div>
                        <div class="col-sm-6 col-md-4">
                          <li>
                            <div class="popular ">
                              <div class="popular_inner">
                                <figure>
                                  <a href="/articles/price">
                                  <img src="/images/price.png" alt="" class="img-responsive"></a>
                                    <div class="over">
                                      <div class="information">
                                        <span>讓我們來教您如何快速轉讓手上二手廉航票卷</span>
                                      </div>
                                    </div>
                                </figure>
                                <div class="caption">
                                  <div class="txt1"><a href="/articles/price"><span>廉航機票轉讓計價</span></a></div>
                                </div>
                              </div>
                            </div>
                          </li> 
                        </div>
                        <div class="col-sm-6 col-md-4">
                          <li>
                            <div class="popular ">
                              <div class="popular_inner">
                                <figure>
                                  <a href="/articles/checkin">
                                  <img src="/images/checkin.jpg" alt="" class="img-responsive"></a>
                                    <div class="over">
                                      <div class="information">
                                        <span>廉航報告規定多？一點也不會，讓我們教您</span>
                                      </div>
                                    </div>
                                </figure>
                                <div class="caption">
                                  <div class="txt1"><a href="articles/checkin"><span>廉航報到規定</span></a></div>
                                </div>
                              </div>
                            </div>
                          </li> 
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: "shared/footer"%>
