
<li>Train no: <%= railticket.train_no %></li>
<li>Train date: <%= railticket.train_date %></li>
<li>Departure time: <%= railticket.departure_time %></li>
<li>Arrive time: <%= railticket.arrive_time %></li>
<li>Departure:<%= railticket.departure %></li>
<li>Destination: <%= railticket.destination %></li>
<li>Price: <%= railticket.price %></li>
<li>Original Discount: <%= railticket.discount %></li>