
  <%= render partial: "shared/navbar" %>

  <div id="slider_wrapper">
    <div class="container">
      <div id="slider_inner">
        <div class="">
          <div id="slider">
            <div class="">
              <div class="carousel-box">
                <div class="inner">
                  <div class="carousel main">
                    <ul>
                      <li>
                        <div class="slider">
                          <div class="slider_inner">
                            <div class="txt1"><span>Welcome To Our</span></div>
                            <div class="txt2"><span>高鐵交換平台前台</span></div>
                            <div class="txt3"><span>Please search what flight tickets you need: </span></div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider_pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div id="front_tabs">
    <div class="container">
      <div class="tabs_wrapper tabs1_wrapper">
        <div class="tabs tabs1">
          <div class="tabs_content tabs1_content">
            <div id="tabs-1" class="form1">
              <%= form_for [@railticket, @search] do |f| %>
                <div class="row">
                  <div class="col-sm-4 col-md-2">
                    <div class="select1_wrapper">
                      <label><%= f.label :train_no %></label>
                      <div><%= f.text_field :train_no, class: "select1_inner" %></div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-2">
                    <div class="input1_wrapper">
                      <label><%= f.label :destination %></label>
                      <div><%= f.text_field :destination, class: "select1_inner" %></div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-2">
                    <div class="input1_wrapper">
                      <label><%= f.label :departure %></label>
                      <div><%= f.text_field :departure, class: "select1_inner" %></div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-2">
                    <div class="input1_wrapper">
                      <label><%= f.label :date_from, "Date Range" %></label>
                      <div class="input1_inner">
                        <%= f.date_field :date_from, class: "input datepicker" %> - <%= f.date_field :date_to, class: "input datepicker" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-2">
                    <div class="input1_wrapper">
                      <label><%= f.label :min_price, "Price Range NTD$" %></label>
                      <div class="input1_inner">
                        <%= f.text_field :min_price, class: "select1_inner" %> - <%= f.text_field :max_price, class: "select1_inner" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-2">
                    <div class="button1_wrapper">
                      <%= f.submit "Search", class: "btn btn-info btn-form1-submit" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="popular_cruises1">
    <div class="container">
      <h2 class="animated">熱門高鐵票</h2>
      <div class="title1 animated">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br>tincidunt ut laoreet dolore magna aliquam erat volutpat.
      </div>
      <br><br>

      <div id="popular_wrapper" class="animated" data-animation="fadeIn" data-animation-delay="300">
        <div id="popular_inner">
          <div class="">
            <div id="popular">
              <div class="">
                <div class="carousel-box">
                  <div class="inner">
                    <div class="carousel main">
                      <ul>
                        <% @railtickets.each do |railticket| %>
                        <div class="col-sm-6 col-md-4">
                          <li>
                          <div class="popular ">
                            <div class="popular_inner">
                              <figure>
                                <img src="http://placehold.it/370x232" alt="" class="img-responsive">
                                  <div class="over">
                                    <div class="v1"><%= railticket.destination %><span>17 Deal Offers</span></div>
                                    <div class="v2">Lorem ipsum dolor sit amet,concateus.</div>
                                  </div>
                              </figure>
                              <div class="caption">
                                <div class="txt1"><span><%= railticket.destination %></span></div>
                                <div class="txt1">Departure:<%= railticket.departure %></div>
                                <div class="txt1">Train no: <%= railticket.train_no %></div>
                                <div class="txt2">Train date: <%= railticket.train_date %></div>
                                <div class="txt2">Departure time: <%= railticket.departure_time %></div>
                                <div class="txt3 clearfix">
                                  <div class="left_side">
                                    <div class="nums"> 18 Reviews</div>
                                  </div>
                                  <div class="right_side">
                                    <% if railticket.is_favorited?(current_user) %>
                                        <%= link_to 'Unfavor', unfavorite_railticket_path(railticket), method: :post, class: "btn btn-info" %>
                                    <% else %>
                                        <%= link_to 'Favor', favorite_railticket_path(railticket), method: :post, class: "btn btn-primary" %>
                                    <% end %>
                                  </div>
                                  <div class="right_side"><%= link_to 'Show', railticket_path(railticket), class: "btn btn-info" %></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        </div>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="popular_pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "shared/footer"%>
  <%= link_to 'New Train Ticket', new_railticket_path %>
