<h1>Coupons</h1>


<ul>
  <% @coupons.each do |coupon|%>

    <li>
      <%= coupon.airline %>
      <%= coupon.destination %>
      <%= coupon.coupon_expiry_date %>
      <%= coupon.flight_date_from %>
      <%= coupon.flight_date_to %>
      <%= coupon.tax %>
      <%= coupon.others %>
      <%= link_to 'Show', coupon_path(coupon) %>
      <% if current_user.id == coupon.user_id %>
        <%= link_to 'Edit', edit_coupon_path(coupon) %>
      <% end -%>

    </li>
  <% end %>

  <%= link_to 'New coupon', new_coupon_path %>
</ul>
