<%= render partial: "shared/navbar" %>

<div id="popular_cruises1">
  <div class="container">
    <h2 class="animated">熱門兌換卷搜尋結果</h2>
    <div class="title1 animated">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br>tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </div>
    <br><br>
    
    <div id="popular_wrapper" class="animated" data-animation="fadeIn" data-animation-delay="300">
      <div id="popular_inner">
        <div class="">
          <div id="popular">
            <div class="">
              <div class="carousel-box">
                <div class="inner">
                  <div class="carousel main">
                    <ul>
                      <% @search.coupons.each do |coupon| %>
                      <div class="col-sm-6 col-md-4">
                        <li>
                        <div class="popular ">
                          <div class="popular_inner">
                            <figure>
                              <img src="http://placehold.it/370x232" alt="" class="img-responsive">
                                <div class="over">
                                  <div class="v1"><%= coupon.destination %><span>17 Deal Offers</span></div>
                                  <div class="v2">Lorem ipsum dolor sit amet,concateus.</div>
                                </div>
                            </figure>
                            <div class="caption">
                              <div class="txt1"><span><%= coupon.destination %></span></div>
                              <div class="txt1"><%= coupon.airline %></div>
                              <div class="txt2">Expiry Date: <%= coupon.coupon_expiry_date %></div>
                              <div class="txt2">使用期間: </div>
                              <div class="txt2"> <%= coupon.flight_date_from %> ~ <%= coupon.flight_date_to %></div>
                              <div class="txt3 clearfix">
                                <div class="left_side">
                                  <div class="nums"> 18 Reviews</div>
                                </div>
                                <div class="right_side">
                                  <% if coupon.is_favorited?(current_user) %>
                                      <%= link_to 'Unfavor', unfavorite_coupon_path(coupon), method: :post, class: "btn btn-info" %>
                                  <% else %>
                                      <%= link_to 'Favor', favorite_coupon_path(coupon), method: :post, class: "btn btn-primary" %>
                                  <% end %>
                                </div>
                                <div class="right_side"><%= link_to 'Show', coupon_path(coupon), class: "btn btn-info" %></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      </div>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="popular_pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>