<h1>機票交換平台前台</h1>


<%= link_to 'Advanced Search', new_search_path %>

<ul>
  <% @tickets.each do |ticket|%>
    <li>
      <%= ticket.airline %>
      <%= ticket.flight_no %>
      <%= ticket.flight_date %>
      <%= ticket.flight_time %>
      <%= ticket.departure %>
      <%= ticket.destination %>
      <%= ticket.name %>
      <%= ticket.others %>
      <%= link_to 'Show', ticket_path(ticket) %>
      <%= link_to 'Edit', edit_ticket_path(ticket) %>
    </li>
  <% end %>

  <%= link_to 'New Ticket', new_ticket_path 
  %>
</ul>
