<h1>機票交換平台前台</h1>


<%= link_to 'Advanced Search', new_search_path %>
<%= link_to 'Train Ticket', railtickets_path %>
<%= link_to 'Admin', admin_tickets_path %>


<ul>

  <%= render partial: "shared/ticket" %>
  <%= link_to 'New Ticket', new_ticket_path %>

</ul>
