
Airline: <%= @ticket.airline %><br>
Flight no: <%= @ticket.flight_no %><br>
Flight date: <%= @ticket.flight_date %><br>
Flight time: <%= @ticket.flight_time %><br>
Departure:<%= @ticket.departure %><br>
Destination: <%= @ticket.destination %><br>
Name: <%= @ticket.name %><br>
Price: <%= @ticket.price %><br>
Others: <%= @ticket.others %><br>

<br>
<div class="container">
  <div class="row">
   <%= form_for [@ticket, @comment] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "留言給賣家", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
  </div>
</div>

<%= link_to 'Back to index', tickets_path %>
