<%= render partial: "shared/navbar" %>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="blog_content">
          <div class="post post-full">
            <h3 class="hch">To <%= @ticket.destination %></h3>
            <div class="clearfix"></div>
              <p class="address">Airline: <%= @ticket.airline %></p>
                <div class="post-story">
                  <hr>
                  <div class="post-story-body clearfix">
                  <h3>Flight date: <%= @ticket.flight_date %>; <%= @ticket.flight_time %></h3>
                  <ul>
                      <li>Departure: <%= @ticket.departure %></li>
                      <li>Destination: <%= @ticket.destination %></li>
                  </ul>
                  <hr>
                  <h4>Details:</h4>
                  <ul>
                    <li>From <%= @ticket.departure %></li>
                    <li>To <%= @ticket.destination %></li>
                    <li><%= @ticket.airline %></li>
                    <li>Quantity: <%= @ticket.quantity %></li>
                  </ul>
                <p>Others: <%= @ticket.others %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="sidebar-block">
            <form action="javascript:void(0);">
               <div class="col-sm-12 no-padding margin-top">
                  <div class="input1_wrapper">
                    <label class="col-md-6" style="padding-left:0;padding-top:12px;font-weight:500;color:#464646;font-size:13px;"> 
                      建議售價: 
                    </label>
                    <div class="col-md-6 price-total-left" style="padding-right:0;padding-left:0;">
                        <span class="red">NTD$ <%= @ticket.price %></span>
                    </div>
                  </div>
                </div>
              <div class="clearfix"></div>
              <div class="no-padding margin-top text-center" style="margin-top:30px;">
                <a href="booking-flights-page.html" class="btn btn-default btn-cf-submit3"style="width:100%;">立即聯絡賣家</a>
              </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="clearfix"></div>
        <div class="margin-top"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <%= render partial: "shared/comments", locals: {commentable: @ticket} %>

    <%= form_for [@ticket, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "留言給賣家", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary"%>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>