<%= render partial: "shared/navbar" %>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <section id="cart-list" class="panel">
          <div>
            <h2>機票兌換卷清單</h2>
          </div>
          <table>
            <tr>
              <th>兌換卷ID</th>
              <th>航空公司</th>
              <th>價格</th>
              <th>數量</th>
              <th>個別總價</th>
              <th></th>
            </tr>
            <% @items.each do |item| %>
            <tr>
              <td><%= item.coupon.id %></td>
              <td><%= item.coupon.airline %><br></td>
              <td>NTD $<%= item.coupon.price %> <br></td>
              <td><%= item.quantity %></td>
              <td><%= item.item_total %></td>
              <td><%= link_to "Detele", remove_from_cart_coupon_path(item.coupon), method: :post, remote: true %> <br></td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>總價</td>
            <td class="amount"><%= current_cart.subtotal %></td>
            <td></td>
          </tr>
        </table>
      </section>

      <%= form_for @order do |f| %>
      <section class="panel">
        <h2>輸入您的聯絡資訊</h2>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone %>
          </div>
          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address %>
          </div>
      </section>
      <%= f.submit "CHECKOUT", class: "btn" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/footer"%>