<div class="container">
    <div class="row">

      <ul class="nav nav-tabs">
       <li role="presentation">
        <%= link_to 'Ticket', admin_tickets_path %>
      </li>
       <li role="presentation" class="active">
        <%= link_to 'User List', admin_users_path %>
      </li>

      </ul>
    </div>
  </div>

  <br>


<h1>機票交換平台後台</h1>
<%= link_to 'Index', tickets_path %>
<ul>
  <% @tickets.each do |ticket|%>
    <li>
      <%= ticket.airline %>
      <%= ticket.flight_no %>
      <%= ticket.flight_date %>
      <%= ticket.flight_time %>
      <%= ticket.departure %>
      <%= ticket.destination %>
      <%= ticket.name %>
      <%= ticket.others %>
      <%= link_to 'Show', admin_ticket_path(ticket) %>
      <%= link_to 'Edit', edit_admin_ticket_path(ticket) %>
      <%= link_to 'Delete', admin_tickets_path(ticket), method: :delete, data: {confirm:"Are you sure?"} %>
    </li>
  <% end %>


</ul>
