<div class="container">
    <div class="row">

      <ul class="nav nav-tabs">
       <li role="presentation" >
        <%= link_to 'Ticket', admin_tickets_path %>
      </li>
      <li role="presentation" class="active">
       <%= link_to 'Train Ticket', admin_railtickets_path %>
     </li>
       <li role="presentation" >
        <%= link_to 'User List', admin_users_path %>
      </li>

      </ul>
    </div>
  </div>

  <br>


<h1>高鐵交換平台後台</h1>
<%= link_to 'Index', tickets_path %>
<ul>



</ul>
<% @railtickets.each do |railticket| %>
  <div class="col-sm-6 col-md-4">
    <div class="ticket-item">
      <div class="caption">
        <h3><%= link_to railticket.name, railticket_path(railticket) %></h3>
        <%= link_to 'Show', admin_railticket_path(railticket) %>
        <%= link_to 'Edit', edit_admin_railticket_path(railticket) %>
        <%= link_to 'Delete', admin_railtickets_path(railticket), method: :delete, data: {confirm:"Are you sure?"} %>
      </div>
      </div>
      </div>

      <li>


        Train no: <%= railticket.train_no %><br>
        Train date: <%= railticket.train_date %><br>
        Departure time: <%= railticket.departure_time %><br>
        Arrive time: <%= railticket.arrive_time %><br>
        Departure:<%= railticket.departure %><br>
        Destination: <%= railticket.destination %><br>
        Name: <%= railticket.name %><br>
        Price: <%= railticket.price %><br>
        Original Discout: <%= railticket.discount %><br>
        Others: <%= railticket.others %><br>


</li>

<% end %>


<div class="text-center">
<%= paginate @railtickets %>
</div>
